.empty_div{
    max-width: 400px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 15px;
    margin-bottom: 0.2rem;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    word-spacing: 3px;
    line-height: 1.8rem;
}
