.country_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.country_list > div > p {
    color: rgba(47, 47, 47, 1);
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(47, 47, 47, 1);
}

.country_list > div > p:hover{
    cursor: pointer;
    border: 1px solid rgba(34, 96, 0, 1);
    color: rgba(34, 96, 0, 1) ;
}

@media (min-width: 1000PX) {

    .wrapper{
        margin: 3rem auto;
    }

    .info_wrapper > .info{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

}