input{
    border: 1px solid rgba(106, 106, 106, 1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 1rem 1rem;
    border-radius: 19px;
    outline: none;

    background: rgba(239, 239, 239, 1);

}

.crops_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.crops_list > div > p {
    color: rgba(47, 47, 47, 1);
    padding: 10px;
    max-width: 100%;
    width: 170px;
    border-radius: 30px;
    margin-top: 0.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(47, 47, 47, 1);
}

.crops_list > div > p:hover{
    cursor: pointer;
    border: 1px solid rgba(34, 96, 0, 1);
    color: rgba(34, 96, 0, 1);
}


@media (min-width: 1000PX) {

    .info_wrapper > .info{
        display: flex;
        flex-direction: column;
        margin-top: 6px;
    }

    .crops_list > div > p {
        width: 200px;
    }

}