/* .country_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

#errMsg{
    display: none;
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
    color: red;
}

p{
    padding: 0;
    margin: 0;
}

@media (min-width: 1000PX) {

    .wrapper{
        margin: 3rem auto;
    }

    .info_wrapper > .info{
        display: flex;
        flex-direction: column;
        margin-top: 0.6rem;
    }

}